## Country Vaccinations

coded by Şeyma Alan.

In [2]:
#Firstly, import csv file, check first rows


import numpy as np
import pandas as pd

df = pd.read_csv('country_vaccination_stats.csv')
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

#### 4:::: Code Implementation Task: 
Implement code to fill the missing data (impute) in daily_vaccinations column per country with the minimum daily vaccination number of relevant countries.  
Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero). 
Please  provide the link to your code as answer to this question.

In [38]:
# Create a dataframe that holds the mean value per country

means_country = df.groupby('country').mean()

In [39]:
# Check the series and fill NaN values with 0
means_country = means_country['daily_vaccinations'].fillna(0)
means_country

country
Argentina                11446.703704
Austria                   8424.421053
Bahrain                   4089.500000
Belgium                   5579.880000
Brazil                   38115.000000
Bulgaria                  1046.629630
Canada                   18217.761905
Chile                     2189.937500
China                   331101.194444
Costa Rica                 998.760000
Croatia                   2260.076923
Cyprus                     752.937500
Czechia                   6427.379310
Denmark                   7108.482759
Ecuador                    108.000000
England                 134116.514286
Estonia                    873.142857
Finland                   3418.400000
France                   43762.809524
Germany                  57021.321429
Gibraltar                  770.000000
Greece                    4986.714286
Hungary                   5450.925926
Iceland                    206.423077
India                   177897.600000
Indonesia                12943.153846
Ireland                   5234.916667
Isle of Man                136.500000
Israel                   93289.486486
Italy                    45954.241379
Kuwait                       0.000000
Latvia                     724.535714
Lithuania                 2294.193548
Luxembourg                 218.160000
Malta                      636.703704
Mexico                   18186.375000
Netherlands               7217.000000
Northern Ireland          4097.333333
Norway                    2556.857143
Oman                      1205.518519
Panama                    1149.200000
Poland                   24270.814815
Portugal                  7633.357143
Romania                  13702.107143
Russia                   31966.413793
Saudi Arabia             19245.909091
Scotland                  8542.404762
Serbia                    7623.117647
Seychelles                1053.642857
Singapore                 4771.818182
Slovakia                  4849.588235
Slovenia                  2377.714286
Spain                    56747.190476
Sweden                    5970.904762
Switzerland               4111.689655
Turkey                  157642.916667
United Arab Emirates     80793.150000
United Kingdom          153395.400000
United States           527526.055556
Wales                     5130.214286
Name: daily_vaccinations, dtype: float64

In [42]:
# Convert series to data frame
means_country = means_country.reset_index()

In [52]:
# Last step: fill NaN values with the corresponding mean values

##df['daily_vaccinations'] = df['daily_vaccinations'].mask(df['daily_vaccinations'] == np.nan)
df['daily_vaccinations'] = df['daily_vaccinations'].fillna(df['country'].map(means_country.set_index('country')['daily_vaccinations']))

In [53]:
# Check is there any null value
df.isnull().sum()

country               0
date                  0
daily_vaccinations    0
vaccines              0
dtype: int64

#### 5:::: Code Implementation Task: 
Implement code to list the top-3 countries with highest median daily vaccination numbers by considering missing values imputed version of dataset.
Please  provide the link to your code as answer to this question.

In [55]:
# Create a series that holds the median value per country
# Then check the series

median_country = df.groupby('country').median()
median_country.head()

           daily_vaccinations
country
Argentina        11645.000000
Austria           8188.710526
Bahrain           4080.000000
Belgium           4016.000000
Brazil           32709.500000

In [59]:
# Last step, result is:
median_country['daily_vaccinations'].head(3)

country
Argentina    11645.000000
Austria       8188.710526
Bahrain       4080.000000
Name: daily_vaccinations, dtype: float64

#### 6:::: Code Implementation Task: 
What is the number of total vaccinations done on 1/6/2021 (MM/DD/YYYY) by considering missing values imputed version of dataset? Please  just provide the number as answer.

In [61]:
# Firstly group by date and then sum
# Then check the new series
dates_group = df.groupby('date').sum()
dates_group

            daily_vaccinations
date
1/1/2021          9.374260e+05
1/10/2021         1.927839e+06
1/11/2021         1.983708e+06
1/12/2021         2.002382e+06
1/13/2021         2.286285e+06
1/14/2021         2.558868e+06
1/15/2021         2.937090e+06
1/16/2021         3.001703e+06
1/17/2021         2.944891e+06
1/18/2021         3.067223e+06
1/19/2021         3.280793e+06
1/2/2021          1.014630e+06
1/20/2021         3.341204e+06
1/21/2021         2.683766e+06
1/22/2021         2.772300e+06
1/23/2021         2.918389e+06
1/24/2021         3.005078e+06
1/25/2021         2.137679e+06
1/3/2021          1.071500e+06
1/4/2021          1.284362e+06
1/5/2021          1.418994e+06
1/6/2021          1.493784e+06
1/7/2021          1.636630e+06
1/8/2021          1.765219e+06
1/9/2021          1.845008e+06
12/13/2020        1.776995e+04
12/14/2020        2.801476e+04
12/15/2020        3.737306e+05
12/16/2020        2.023470e+05
12/17/2020        2.029550e+05
12/18/2020        2.032340e+05
12/19/2020        2.962625e+05
12/20/2020        1.024945e+06
12/21/2020        3.600970e+05
12/22/2020        4.389150e+05
12/23/2020        4.891342e+05
12/24/2020        5.744671e+05
12/25/2020        5.888882e+05
12/26/2020        6.098130e+05
12/27/2020        7.433615e+05
12/28/2020        7.319853e+05
12/29/2020        7.671143e+05
12/30/2020        8.377047e+05
12/31/2020        8.821853e+05

In [64]:
# Convert series to dataframe
dates_group = dates_group.reset_index()

In [71]:
# Find the value 1/6/2021
value = dates_group[dates_group['date'] == '1/6/2021']['daily_vaccinations']

In [74]:
# Result is
value

21    1.493784e+06
Name: daily_vaccinations, dtype: float64

#### 7::::: Code Implementation Task: 
If this list would be a database table, please provide SQL query to fill in the missing daily vaccination numbers with discrete median of country as similar to question a.  
Please  provide the link to your code as answer to this question. 
Note: This time SQL equivalent is requested, and imputation value is median of each country, not minimum. Please remember filling countries with zero if they do not have any valid daily_vaccination records like Kuwait.